name: bloc_navigation
description: Navigation with BLoC and flutter navigation package

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=2.16.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_bloc: ^8.0.1

  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_navigator:
    path: ../../packages/flutter_navigator

  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true
